# History file
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*_cache/

# Studio vignettes
vignettes/*.html
vignettes/*.pdf

# Office
*.gddoc
*.docx
*.doc
*.gdsheet
*.xlsx
*.xls
*.gdslides
*.pptx
*.ppt

# Other
*.html
*.log
*.bak
build/
temp-*
